Checks:
  - -*
  - cppcoreguidelines-pro-type-member-init
  - modernize-deprecated-headers
  - modernize-redundant-void-arg
  - modernize-use-bool-literals
  - modernize-use-default-member-init
  - modernize-use-nullptr
  - readability-braces-around-statements
  - readability-redundant-member-init
